@{
    var applicationname = System.AppDomain.CurrentDomain.BaseDirectory;
    if (applicationname.EndsWith("\\"))
    {
        applicationname = applicationname.Substring(0, applicationname.Length - 1);
    }
    var pos = applicationname.LastIndexOf("\\");
    if (pos > 0)
    {
        applicationname = applicationname.Substring(pos + 1);
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        .navbar-brand {
            color: #e7e7dd !important;
        }

        .navbar-brand:hover {
            color: #ffffff !important;
        }
    </style>
    <title>@ViewBag.Title - My ASP.NET MediaTypeNames.Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <style type="text/css">
        .navbar {
            background-color: #20aaac;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(@applicationname, "Index", "Client", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Utleira IL</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>